---
layout: default
title: Open Source at Techland
header_title: Open&nbsp;Source at Techland
---
<ul class="repository-list">
    {% for repository in site.github.public_repositories %}
        {% if repository.name != site.github.repository_name %}
            <li class="item">
                <a href="{{ repository.html_url }}" title="{{ repository.name }}"></a>
                <h2 class="item__title">{{ repository.name }}</h2>
                <h3 class="item__language lang__{{ repository.language | downcase }}">{{ repository.language }}</h3>
                <p class="item__description">{{ repository.description }}</p>
                <p class="item__link"><i class="fa fa-github"></i> {{ repository.full_name }}</p>
            </li>
        {% endif %}
    {% endfor %}
</ul>