
<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="description" content="Learn about Open Source initiatives at Techland Games." />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <meta name="application-name" content="Open Source @ Techland Games"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />

</head>
<body>
    <header>

    </header>
    <section>
        {{ content }}
    </section>
    <footer>
        <p>Copyright &copy; Techland Games 2017
    </footer>
</body>
</html>
